@tailwind utilities;

.TransactionsPage {
  .topMessage {
    position: relative;
    img {
      position: absolute;
      right: 10px;
      top: 10px;
      width: 60px;
    }
    :global(.MuiAlert-message) {
      padding-right: 40px;
    }
  }
}

.TransactionListComponent {
  padding: 0;
  .TransactionComponent {
    .topSection {
      .time {
        display: flex;
        align-items: center;
        font-size: 12px;
        float: right;
        top: -36px;
        position: relative;
        svg {
        }
      }
      .status {
        border-bottom: 1px solid #dddddd;
        color: #9e9eff;
        display: block;
        margin-bottom: 8px;
        padding-bottom: 6px;
        &.pending {
          color: #9e9eff;
        }
        &.success {
          color: green;
        }
      }
    }

    header {
      padding-left: 10px;
      &.pending {
        border-left: 2px #9e9eff solid;
      }
      &.success {
        border-left: 2px green solid;
      }
      .exp {
        color: #50aeff;
        font-weight: 600;
      }
      strong {
        display: block;
        padding-bottom: 10px;
      }
      span {
        display: inline-block;
        font-size: 12px;
        // color: red;
        :global(.Coins) {
          transform: scale(100%);
          justify-content: initial;
          picture {
            transform: scale(0.8);
          }
          :global(.number) {
            margin: 0 0 0 0px;
          }
        }
      }
    }
    footer {
      margin-top: 20px;
      text-align: right;
    }
  }
}
