.AuthorComponentPage {
    margin: 0 0 20px 0;
    position: relative;
    &::before {
        content: "";
        background-image: var(--backgroundImage);
        filter: blur(40px) saturate(400%);
        height: 100%;
        position: absolute;
        width: 100%;
    }
    .content {
        position: relative;
        text-align: center;
        z-index: 1;
        .namePlace {
            small {
                color: #adadad;
                display: block;
                margin: 6px 0 0;
            }
        }
        hr {
            border: none;
            height: 1px;
            margin: 20px auto 0 auto;
            width: 150px;
        }
        .creditsGiven {
            display: block;
            height: 60px;
            margin: 20px auto 0;
            position: relative;
            text-align: center;
            width: 280px;
            :global(.Coins) {
                left: -30px;
                margin-right: 80px;
                position: absolute;
                right: 0;
                top: -5px;
            }
            small {
                // left: 130px;
                position: absolute;
            }
        }
        .socialContent {
            column-gap: 10px;
            display: flex;
            justify-content: center;
            a {
                color: white;
            }
        }
        .aboutMe {
            margin: 20px 0 0 0;
        }
    }
}
